---
import SideNavMenu from "./SideNavItem.astro";
import Home from './../icons/Home.astro'
import Search from './../icons/Search.astro'
import Librarie from './../icons/Librarie.astro'
import {playlists} from './../data/data'
import PlaylistItem from "./PlaylistItem.astro";
---

<nav class="text-zinc-400 py-2 px-4 flex flex-col w-full rounded overflow-hidden">
    <div class="bg-zinc-900 transition-colors duration-200 rounded">
        <ul class="px-4">
            <SideNavMenu href="/">
                <Home/> Inicio
            </SideNavMenu>
            <SideNavMenu href="/#">
                <Search/> Buscar
            </SideNavMenu>
        </ul>
    </div>

    <div class="bg-zinc-900 p-4 flex flex-col w-full">
        <SideNavMenu>
            <Librarie/>
            Tu Biblioteca
        </SideNavMenu>
        <div class="">
            <ul class="flex flex-wrap gap-2">
                {
                    playlists.map(playlist => <PlaylistItem playlist={playlist}/>)
                }
            </ul>
        </div>
    </div>
</nav>