---
import AsideMenu from "../components/AsideMenu.astro";
import { ViewTransitions } from "astro:transitions";
import Player from "./../components/Player";
import AsideMenuResponsive from "../components/AsideMenuResponsive.astro";
interface Props {
  title: string;
  icon: string;
}

const { title, icon } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={icon ?? `/icon.png`} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div id="app" class="h-screen grid">
      <aside class="[grid-area:aside] overflow-y-auto">
        <AsideMenu />
      </aside>
      <main
        class="[grid-area:main] rounded-lg bg-zinc-900 overflow-y-auto w-full"
      >
        <slot />
      </main>
      <aside class="[grid-area:menu]">
        <AsideMenuResponsive/>
      </aside>
      <footer class="[grid-area:player] h-[100px] bg-zinc-900">
        <Player client:load transition:name="music-player" transition:persist />
      </footer>
    </div>
    <style is:global>
      @font-face {
        font-family: 'MetroPolis';
        src: url('./../font/GothamLight.ttf');
        font-weight: 100;
      }
      html {
        background-color: #101010;
        font-family: 'MetroPolis', system-ui, sans-serif;
      }
      #app {
        grid-template-areas:
          "aside main main"
          "menu menu menu"
          "player player player";
        grid-template-columns: 350px 1fr;
        grid-template-rows: 1fr 0px auto;
      }
      @media (max-width: 880px) {
        #app {
          grid-template-areas:
		  	    "main"
            "menu"
            "player";
          grid-template-columns: 100%;
          grid-template-rows: 65dvh auto auto;
        }
      }
      html::-webkit-scrollbar {
        width: 5px;
        background: #323232;
      }
      html::-webkit-scrollbar-thumb {
        width: 5px;
        background: #afafaf;
      }
      aside::-webkit-scrollbar {
        width: 5px;
        background: #323232;
      }
      aside::-webkit-scrollbar-thumb {
        width: 5px;
        background: #434343;
      }
      #table-music::-webkit-scrollbar {
        width: 5px;
        background: #434343;
      }
      #table-music::-webkit-scrollbar-thumb {
        width: 5px;
        background: #0a5;
      }
    </style>
  </body>
</html>
